/* Define CSS variables for shadow colors */
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --shadow-light: rgba(255, 255, 255, 0.7);
    /* Light shadow for light mode */
    --shadow-dark: rgba(174, 174, 192, 0.4);
    /* Dark shadow for light mode */
}

.dark {
    --shadow-light: rgba(58, 58, 58, 0.7);
    /* Light shadow for dark mode */
    --shadow-dark: rgba(20, 20, 20, 0.4);
    /* Dark shadow for dark mode */
}

/* Apply base styles using Tailwind color variables from config */
body {
    @apply bg-light-background text-light-text transition-colors duration-500 ease-in-out;
}

.dark body {
    @apply bg-dark-background text-dark-text;
}

/* Add any other global styles here */
@import url('https://fonts.googleapis.com/css2?family=Vazir&display=swap');


body {
    font-family: 'Vazir', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}