@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Vazir&display=swap');

/* Define CSS variables for shadow colors */

:root {
    --shadow-light: rgba(255, 255, 255, 0.7);
    /* Light shadow for light mode */
    --shadow-dark: rgba(174, 174, 192, 0.4);
    /* Dark shadow for light mode */
}

.dark {
    --shadow-light: rgba(58, 58, 58, 0.7);
    /* Light shadow for dark mode */
    --shadow-dark: rgba(20, 20, 20, 0.4);
    /* Dark shadow for dark mode */
}

/* Apply base styles using Tailwind color variables from config */
body {
    background-color: var(--light-background);
    color: var(--light-text);
    transition: colors 500ms ease-in-out;
}

.dark body {
    background-color: var(--dark-background);
    color: var(--dark-text);
}

/* Add any other global styles here */